.*~
*~
*.swp
.tup
tup.config
/app/*.o
/app/*.a
/app/*.dll
/app/*.so
/app/*.debug
/app/*.exe
/app/inscribist
/app/*.bz2
/app/*.gz
/app/*.zip
/app/working
/app/*.inscribble
/app/*.inscribble.png
/app/*.inscribist.conf
