[submodule "app/ren-general"]
	path = app/ren-general
	url = ../ren-general.git
[submodule "app/ren-script"]
	path = app/ren-script
	url = ../ren-script.git
[submodule "app/ren-application"]
	path = app/ren-application
	url = ../ren-application.git
[submodule "app/ren-gtk"]
	path = app/ren-gtk
	url = ../ren-gtk.git
